<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BaseUrl" value="http://localhost/CaseStudyWebApp/"/>
	<add key="MeanThreadSleepTime" value="9500"/>
	<add key="WebBrowsers" value="chrome"/>
	<add key="ErrorImagePath" value="ScreenShots"/>
	<add key="TestDataDirectory" value="SeShellTest\TestData\Files"/>
	<add key="DbConnectionString" value=""/>
	<add key="NUnitModifiedTestResultLocation" value="C:\SeShellResult\"/>
	<add key="AutomationResultNamespace" value="CaseStudyAutomation"/>
	<add key="ClassesToExecute" value="LoginTest"/>
</appSettings>








































































































































































































































































































































































































































































































